.team {
    margin: 50px auto;
    text-align: center;
    font: 800 36px 'Raleway', sans-serif;
    color: #2ecc71;
}

.team-list {
    padding-left: 0;
    list-style: none;
    li {
        border-bottom: 5px dotted #2ecc71;
    }
}
.team-img {
    max-width: 100px;
    margin: 30px auto;
}

.team-title {
    text-align: center;
}

.team-content {
    text-align: center;
}

/*---------------single post------------------*/

.features-team-img {
    margin: 30px auto;
    max-width: 150px;

}